{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profil</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profil.id }}</td>
            </tr>
            <tr>
                <th>Overview</th>
                <td>{{ profil.overview }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ profil.location }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profil_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('profil_edit', { 'id': profil.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
