{% trans_default_domain 'FOSUserBundle' %}
<div class="wrapper">

    <div class="sign-in-page">
        <div class="signin-popup">
            <div class="signin-pop">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cmp-info">
                            <div class="cm-logo">
                                <img src="{{ asset('images/cm-logo.png') }}" alt="">
                                <p>Workwise,  is a global freelancing platform and social networking where businesses and independent professionals connect and collaborate remotely</p>
                            </div><!--cm-logo end-->
                            <img src="{{ asset('images/cm-main-img.png') }}" alt="">
                        </div><!--cmp-info end-->
                    </div>
                    <div class="col-lg-6">
                        <div class="login-sec">
                            <ul class="sign-control">
                                <a class="btn btn-outline-danger" href="{{ path('fos_user_registration_register') }}" title="">Sign up</a>
                                <a class="btn btn-danger" href="#">Sign in</a>

                            </ul>
                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="sign_in_sec current" id="tab-1">

                                <h3>Sign in</h3>
                                <form action="{{ path("fos_user_security_check") }}" method="post">
                                    {% if csrf_token %}
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-lg-12 no-pdd">
                                            <div class="sn-field">
                                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Username">
                                                <i class="la la-user"></i>
                                            </div><!--sn-field end-->
                                        </div>
                                        <div class="col-lg-12 no-pdd">
                                            <div class="sn-field">
                                                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Password">
                                                <i class="la la-lock"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 no-pdd">
                                            <div class="checky-sec">
                                                <div class="fgt-sec">
                                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                                                    <label for="c1">
                                                        <span></span>
                                                    </label>
                                                    <small>Remember me</small>
                                                </div><!--fgt-sec end-->
                                                <a href="#" title="">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 no-pdd">
                                            <button type="submit" value="submit">Sign in</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="login-resources">
                                    <h4>Login Via Social Account</h4>
                                    <ul>
                                        <li><a href="#" title="" class="fb"><i class="fa fa-facebook"></i>Login Via Facebook</a></li>
                                        <li><a href="#" title="" class="tw"><i class="fa fa-twitter"></i>Login Via Twitter</a></li>
                                    </ul>
                                </div><!--login-resources end-->
                            </div><!--sign_in_sec end-->

                        </div><!--login-sec end-->
                    </div>
                </div>
            </div><!--signin-pop end-->
        </div><!--signin-popup end-->
        <div class="footy-sec">
            <div class="container">
                <ul>
                    <li><a href="help-center.html" title="">Help Center</a></li>
                    <li><a href="about.html" title="">About</a></li>
                    <li><a href="#" title="">Privacy Policy</a></li>
                    <li><a href="#" title="">Community Guidelines</a></li>
                    <li><a href="#" title="">Cookies Policy</a></li>
                    <li><a href="#" title="">Career</a></li>
                    <li><a href="forum.html" title="">Forum</a></li>
                    <li><a href="#" title="">Language</a></li>
                    <li><a href="#" title="">Copyright Policy</a></li>
                </ul>
                <p><img src="images/copy-icon.png" alt="">Copyright 2019</p>
            </div>
        </div><!--footy-sec end-->
    </div><!--sign-in-page end-->


</div>
{#{% if error %}#}
    {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#{% endif %}#}
{#<form action="{{ path("fos_user_security_check") }}" method="post">#}
    {#{% if csrf_token %}#}
        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}
    {#{% endif %}#}

    {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />#}

    {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
    {#<input type="password" id="password" name="_password" required="required" autocomplete="current-password" />#}

    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
    {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

    {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
{#</form>#}
